[user]
	name = Ryan Greene
	email = winchendonsprings@gmail.com
[color]
	ui = auto
[core]
	editor = vim
[alias]
	;l = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

	;gl = "log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

	;lg = "log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s""

[github]
	user = winchendonsprings
[diff]
	tool = vimdiff
